<form>
  <h3>Add a Link</h3>

  <div class="field">
    <label for="title">Title: </label>
    <!-- #newtitle is a template variable, # assigns the input tag to a local variable -->
    <!-- The#newtitlesyntax is called a resolve. The effect is that this makes the variable newtitle available to the expressions within this view. -->
    <!-- newtitle is now an object that represents this input DOM element (specifically, the type is HTMLInputElement). -->
    <input name="title" id="title" #newtitle>
  </div>

  <div class="field">
    <label for="link">Link: </label>
    <input name="link" id="link" #newlink> 
  </div>

  <button (click)="addArticle(newtitle, newlink)">
    Submit link
  </button>
</form>

<div class="ui grid posts">
  <app-article>
  </app-article>
</div>